# Spring 백엔드 URL
BACKEND_URL=http://localhost:8080

# NextAuth (W7 부터 사용)
# NEXTAUTH_SECRET=
# NEXTAUTH_URL=http://localhost:3000
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
# GITHUB_CLIENT_ID=
# GITHUB_CLIENT_SECRET=
